body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sliderCaption{
  position : absolute;
  top : -200px;
  left: 50px;
  color: #000000;
}

.sliderImg {
  width: 250px;
  height: 250px;
  opacity: 0.5 !important;
}

.sliderContainer{
  width:1200px;
  height:400px;
  padding:20px;
  border:1px solid gray;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  background: #ffffff; 
}

.image-slider-wrapper{
  overflow: hidden;
}
.image-slider-wrapper li{
  max-width: 100%;
  float:left;
  list-style: none;
}
